<!DOCTYPE html>
<html lang="en">

<head>
	<title>CleanRMT</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
	<header class="jumbotron">
		<h1>CleanRMT</h1>
	</header>
	<nav class="header">
		<ul class="header">
			<li class="header-left"><a href="/">Home</a></li>
			<li class="header-left"><a href="http://www.smogon.com/forums/forums/rate-my-team.52/" target='_blank'>RMT Forum</a></li>
			<li class="header-left"><a href="https://github.com/TheFenderStory/rmt-template" target='_blank'>GitHub</a></li>
			<li class="header-right"><a class="active" href="https://github.com/TheFenderStory/rmt-template/blob/master/README.md" target='_blank'>About</a></li>
		</ul>
	</nav>
	<main class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
								</span>Font Style</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<ul class="list-group">
								<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Font Family</a>
									<form action="">
										<input type="radio" name="font" checked="checked" value="Arial"> Arial<br />
										<input type="radio" name="font" value="Book Antiqua"> Book Antiqua<br />
										<input type="radio" name="font" value="Courier New"> Courier New<br />
										<input type="radio" name="font" value="Georgia"> Georgia<br />
										<input type="radio" name="font" value="Tahoma"> Tahoma<br />
										<input type="radio" name="font" value="Times New Roman"> Times New Roman<br />
										<input type="radio" name="font" value="Verdana"> Verdana
									</form>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
								</span>Headers</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse">
							<ul class="list-group">
								<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Header Size</a>
									<form action="">
										<input type="radio" name="header-size" value="1"> 1<br />
										<input type="radio" name="header-size" value="2"> 2<br />
										<input type="radio" name="header-size" checked="checked" value="3"> 3<br />
										<input type="radio" name="header-size" value="4"> 4<br />
										<input type="radio" name="header-size" value="5"> 5<br />
										<input type="radio" name="header-size" value="6"> 6
									</form>
								</li>
								<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Header Font</a>
									<form action="">
										<input type="radio" name="header-font" checked="checked" value="Arial"> Arial<br />
										<input type="radio" name="header-font" value="Book Antiqua"> Book Antiqua<br />
										<input type="radio" name="header-font" value="Courier New"> Courier New<br />
										<input type="radio" name="header-font" value="Georgia"> Georgia<br />
										<input type="radio" name="header-font" value="Tahoma"> Tahoma<br />
										<input type="radio" name="header-font" value="Times New Roman"> Times New Roman<br />
										<input type="radio" name="header-font" value="Verdana"> Verdana
									</form>
								</li>
								<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Header Style</a>
									<form action="">
										<input type="checkbox" name="bold-header" value="true"> Bold Headers<br />
										<input type="checkbox" name="underline-header" value="true"> Underline Headers<br />
									</form>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-file">
								</span>Image Type</a>
							</h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse">
							<div class="list-group">
								<ul class="list-group">
									<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Image Style</a>
										<form action="">
											<input type="radio" name="image-type" checked="checked" value="icons"> Icon<br />
											<input type="radio" name="image-type" value="pokesho"> Pokemon Showdown<br />
											<input type="radio" name="image-type" value="xyanimated"> XY Animated<br />
											<input type="radio" name="image-type" value="xy"> XY<br />
											<input type="radio" name="image-type" value="smd"> Mystery Dungeon
										</form>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><span class="glyphicon glyphicon-heart">
								</span>Format</a>
							</h4>
						</div>
						<div id="collapseSeven" class="panel-collapse collapse">
							<div class="list-group">
								<ul class="list-group">
									<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Set Format</a>
										<form action="">
											<input type="radio" name="set-format" checked="checked" value="importable"> Importable<br />
											<input type="radio" name="set-format" value="bold-importable"> Bold Importable<br />
											<input type="radio" name="set-format" value="alternative"> Alternative<br />
											<input type="radio" name="set-format" value="pearl"> Pearl
										</form>
									</li>
									<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Show Build Process</a>
										<form action="">
											<input type="radio" name="build-process" checked="checked" value="true"> Yes<br />
											<input type="radio" name="build-process" value="false"> No
										</form>
									</li>
									<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Alignment</a>
										<form action="">
											<input type="radio" name="align" value="Left"> Left<br />
											<input type="radio" name="align" checked="checked" value="Center"> Center<br />
											<input type="radio" name="align" value="Right"> Right
										</form>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="output-panel" class="col-sm-9 col-md-9 hidden">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">RMT Output</h3>
					</div>
					<div id="team-output" class="panel-body">

					</div>
				</div>
				<button id="export" class="btn-primary">Export!</button>
			</div>
			<div id="input-panel" class="col-sm-9 col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Import Team</h3>
					</div>
					<div class="panel-body">
						<textarea id="team-input" class="textbox" rows="17" cols="87"></textarea>
					</div>
				</div>
				<button id="import" class="btn-primary">Import!</button>
			</div>
			<div id="bbcode-panel" class="col-sm-9 col-md-9 hidden">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">BBcode</h3>
					</div>
					<div class="panel-body">
						<textarea id="bbcode-output" class="textbox" rows="17" cols="87"></textarea>
					</div>
				</div>
				<button id="import" class="btn-primary">Import!</button>
			</div>
		</div>
	</main>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

</html>
