@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

html {
    max-width: 100%; /*prevent that lame horizontal overflow */
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
	max-width: 100%;
    overflow-x: hidden;
}

/* Style navbar list */
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Pull leftside navbar items over */
.header-left {
    float: left;
}

/* Style navbar items */
.header li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color: #fff;
}

.header li a:hover:not(.active) {
    background-color: #111;
}

/* Navbar menu items */
.active {
    background-color: #4CAF50;
}

.header-right {
    float: right;
}

.header-right a {
    color: white;
}

.jumbotron {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.jumbotron h1 {
    font-size: 50px;
    padding-left: 0.5%;
}

main {
    margin-top: 1%;
}

#import,
#export {
    float: right;
    padding: 6px;
}

.textbox {
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    padding: 2px 3px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 9pt;
    box-shadow: inset 0px 1px 2px #CCCCCC, 1px 1px 0 rgba(255,255,255,.6);
    background: #F8FBFD;
    color: black;
    width: 80%;
}

#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}
